<!DOCTYPE html> 
<html> 
    <body style="background-color:black;"> 

    <div style="color: orangered;">
        <center>
            <h1>FIDESZ COIN</h1>
        </center>
          <h2 style="font-family: 'Courier New', Courier, monospace;"> 1 FC = 6900 HUF </h2>
          <h2> BUY</h2>
          <h2> SELL</h2>
          <img src="https://img.freepik.com/free-vector/global-business-background-with-stock-chart-blue-tone_53876-119546.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
    </div>

  </body> 
</html>